.Contact {
    height: auto;
    background-color: #fffffe;
    padding: 20px 0 0 0;
}

.Contact h3 {
    font-size: 26px;
    padding: 30px 200px 0 200px;
    color: #0f0e17;
    font-family: 'Roboto', sans-serif;
}

.Contact h3 span {
    color: #ff8906;
    font-family: 'Roboto Mono', monospace;
}

.Contact .ContactContent {
    text-align: center;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.Contact .ContactContent h4 {
    font-size: 40px;
}

.Contact .ContactContent p {
    font-size: 20px;
    color: #2E2F3E;
    margin-bottom: 25px;
}

.Contact .ContactContent a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.Contact .ContactContent a span {
    background-color: #0f0e17;
    border-radius: 5px;
    padding: 10px 0;
}

.Contact .ContactContent a span span{
    background-color: #ff8906;
    border: 1px solid #0f0e17;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease;
}

.Contact .ContactContent a span:hover span{
    position: relative;
    top: -4px;
    left: -4px;
}