.navbar {
    width: 100%;
    height: 75px;
    overflow: hidden;
    background: rgba(23, 23, 23, 0.9);
    position: fixed;
    text-align: center;
    top: 0;
    transition: height 1s ease-in-out, background-color 1s ease-in-out;
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px 0 0 23px;
    color: #bfbfbf;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.links {
    height: 100%;
    float: right;
}

.links a{
    float: left;
    display: block;
    color: #bfbfbf;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.links #button span{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar a:hover, .navbar a.active {
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}

.links a {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 23px;
    padding-bottom: 23px;
}

.icon {
    display: none;
    color: #dbdbdb;
    font-size: 20px;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    padding: 23px 23px 0 0;
}

@media screen and (max-width: 750px) {
    .icon {
        display: block;
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items vertically */
        height: 100vh; /* Set height to full viewport height for demonstration */
        justify-content: center; /* Center content vertically */
        float: none;
    }

    .links #text{
        margin: 10px; /* Add some margin between links */
    }

    .links #icon {
        width: 100%;
        padding: 23px 0 23px 0;
    }

    .navbar.navbar.open {
        position: fixed;
        height: 100%;
        background-color: rgb(9, 9, 9);
    }
}