.navbar {
    width: 100%;
    height: 75px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: height 1s ease-in-out, background-color 1s ease-in-out;
    background-color: #0f0e17ba;
    box-shadow: 0 10px 30px -10px #ff8906;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.title {
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px 0 0 23px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.links {
    height: 100%;
    float: right;
}

.links a{
    float: left;
    display: block;

    color: #a7a9be;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;

    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 23px;
    padding-bottom: 23px;
}

.links a:hover {
    color: #ff8906
}

.links a .num {
    color: #ff8906;
}

.links #button span {
    background-color: #ff8906;
    border-radius: 5px;
    padding: 10px 0;
}

.links #button span span{
    background-color: #0f0e17;
    border: 1px solid #ff8906;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease;
}

.links #button span:hover span{
    position: relative;
    top: -4px;
    left: -4px;
}

.icon {
    display: none;
    color: #dbdbdb;
    font-size: 20px;
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    padding: 23px 23px 0 0;
}

@media screen and (max-width: 750px) {
    .icon {
        display: block;
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items vertically */
        height: 100vh; /* Set height to full viewport height for demonstration */
        justify-content: center; /* Center content vertically */
        float: none;
    }

    .links #text{
        margin: 10px; /* Add some margin between links */
    }

    .links #icon {
        width: 100%;
        padding: 23px 0 23px 0;
    }

    .navbar.navbar.open {
        position: fixed;
        height: 100%;
        background-color: rgb(9, 9, 9);
    }
}