.Portfolio {
    padding: 100px 200px 100px 200px;
}

.Portfolio h3 {
    font-size: 26px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.Portfolio h3 span {
    color: #ff8906;
    font-family: 'Roboto Mono', monospace;
}

.Portfolio .ItemsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 30px; /* Adjust the gap between items as needed */
    justify-content: center; /* Center the grid horizontally */
    align-content: center; /* Center the grid vertically */
}

.Portfolio .ItemsGrid .PortfolioItem {
    background-color: white;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 60px 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    min-height: 200px;
}

.Portfolio .ItemsGrid .PortfolioItem:hover {
    transform: scale(1.1);
    z-index: 1;
}

.Portfolio .ItemsGrid .PortfolioItem .TopRow {
    display: flex;
    position: relative;
}

.Portfolio .ItemsGrid .PortfolioItem .TopRow h4 {
    font-size: 22px;
    color: #0f0e17;
    margin-top: 0;
    margin-bottom: 0;
    width: calc(100% - 30px);
}

.Portfolio .ItemsGrid .PortfolioItem .TopRow p {
    position: absolute;
    top: -15px;
    right: -10px;
}

.Portfolio .ItemsGrid .PortfolioItem .TopRow i {
    color: #e53170;
    display: block;
    font-size: 25px;
    position: absolute;
    right: 0;
    transition: font-size 0.3s ease;
    cursor: pointer;
}

.Portfolio .ItemsGrid .PortfolioItem .TopRow i:hover {
    font-size: 30px;
}

.Portfolio .ItemsGrid .PortfolioItem .BottomRow {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    background-color: white;
}

.Portfolio .ItemsGrid .PortfolioItem .BottomRow .Tag {
    display: inline-block;
    background-color: #ff8906;
    min-width: fit-content;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.Portfolio .ItemsGrid .PortfolioItem a {
    color: #e53170;
    text-decoration: none;
    transition: font-weight ease 0.3s;
}

.Portfolio .ItemsGrid .PortfolioItem a:hover {
    color: #e53170;
    font-weight: 800;
}

@media screen and (max-width: 1200px) {
    .Portfolio .ItemsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .Portfolio {
        padding: 100px 40px 100px 40px;
    }

    .Portfolio h3 {
        padding-left: 13%;
    }
    
    .Portfolio .ItemsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .Portfolio h3 {
        padding-left: 0;
    }
    .Portfolio .ItemsGrid .PortfolioItem:hover {
        transform: scale(1);
        z-index: 0;
    }
}

@media screen and (max-width: 650px) {
    .Portfolio .ItemsGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}